* {
  padding: 0;
  margin: 0;
}
#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}
#charactor {
  width: 20px;
  height: 50px;
  background-color: black;
  position: relative;
  top: 150px;
}
.jump {
  animation: jump 500ms;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
    70% {
      top: 100px;
    }
    100% {
      top: 150px;
    }
  }
}
#block {
  width: 20px;
  height: 20px;
  background-color: gray;

  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite linear forwards;
}
@keyframes block {
  100% {
    left: -40px;
  }
}
